body {
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: white;
}
/* .svg-container {  */
	/* display: inline-block; */
	/* position: relative; */
	/* width: 100%; */	
	/* padding-bottom: 100%;  */
	/* vertical-align: middle;  */
	/* overflow: hidden;  */
/* } */
img {
	height: auto;
    max-width: 100vmin;
	max-height:97vmin;    
	display: block;
	margin: auto;
	overflow-y: hidden; 
	overflow-x: hidden; 	    
    }
.rotate {
	animation: rotation 33s infinite linear;
}

.column {
  float: left;
  width: 33.33%;
}

.link-row {
	max-width:100vw
	z-index: 100;
	position: relative;
	text-align:center;
	font-size: 1.5vh;
	color: #FFFFFF;
	word-break: normal;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
	font-weight: 100;
	
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}	
